<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.example.hello"
        version="0.7.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Hello</name>

    <js-module src="www/hello.js" name="hello">
        <clobbers target="com.example.hello"/>
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hello">
                <param name="android-package" value="com.example.plugin.Hello"/>
            </feature>
        </config-file>

        <source-file src="src/android/com/example/Hellojni/Hello.java" target-dir="src/com/example/plugin/"/>
        <source-file src="src/android/com/example/Hellojni/HelloJni.java" target-dir="src/com/example/plugin/"/>
        <source-file src="src/android/libs/armeabi/libhello-jni.so" target-dir="libs/armeabi/"/>
    </platform>
</plugin>
